{% extends "base.html" %} 

    {% block conteudo %}

<h2 class="send-image">Envie uma foto do inseto!</h2>

<div>
    <form id="upload-file" action="/resultado_da_consulta" method="post">
        <label for="nome" class="text-form">Seu nome (obrigatório)</label><br>
        <input type="text" name="nome" class="input-form"><br><br>
        <label for="email" class="text-form">Seu e-mail (obrigatório)</label><br>
        <input type="email" name="email" class="input-form"><br><br>
        <label for="endereco" class="text-form">Seu endereço (obrigatório)</label><br>
        <input type="text" name="endereco" class="input-form"><br><br>
        <label for="telefone" class="text-form">Seu telefone</label><br>
        <input type="tel" name="telefone" class="input-form"><br><br>
        <label for="imageUpload" class="upload-label">
            Escolher ficheiro
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg" id="btn-predict">Enviar</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}