{% extends 'base.html' %}

    {% block conteudo %}

    <h2>Projeto Identificador de barbeiro - Fiocruz</h2>
    <p>
        <dl>
        <dt>Informações e instruções sobre o projeto de identificador de barbeiros por foto de celular</dt>
        <dd>Imagem nítida</dd>
        <dd>Barbeiro focalizado</dd>
        <dd>Imagem recortada com o barbeiro no centro</dd>
        </dl>
    </p>

    <h4>Segue abaixo uma imagem exemplo:</h4>
    <img class="img-exemplo" src="{{ url_for('static', filename='imagens/triatomineo_159.png') }}" width=200px>

    {% endblock %}